Comments

In [ ]:
# This is a comment

Multi-line Comments

In [1]:
""" Triple Quotes 
used for 
multi-line
comments"""

' Triple Quotes \nused for \nmulti-line\ncomments'

Declare Variables for integer Datatype

In [ ]:
a=80
print(a)
b=90
print(b)
c=1440
print(c)

80
90
1440

Python Boleans

In [ ]:
print(78==90)

False

In [ ]:
print(130!=24)

True

In [ ]:
print(35>27)

True

In [ ]:
print(28<45)

True

In [ ]:
print(45<= 98)

True

In [ ]:
print(25>= 48)

False

Input operator

In [1]:
name =input("Enter your name")
print("My name is",name)

My name is Hassan Raza

Integer type input from USER

In [8]:
age=int(input("What is your age"))
print("My age is",age)

My age is 23

Take any Input Value from user

In [9]:
x=int(input("Enter a number:"))
print("Your Answer is",x)

Your Answer is 52

Assigning Both tpes of quotes

In [2]:
print("I think,'Python is Powerfull'")

I think,'Python is Powerfull'

In [2]:
print('He said,"Coding is life"')

He said,"Coding is life"